h2 {
    famille de polices : calibri;
    style de police : italique ;
}

vieux {
    text-align : justifier;
    famille de polices :  'Montserrat' , sans empattement ;
}

. cit1 {
    poids de la police :  700 ;
}

h1 {
    décoration de texte : souligner ;
    text-align : centre;
    couleur :  rgba ( 0 ,  0 ,  0 ,  1 );
    image d'arrière-plan :  url (Assets/logo14207.jpg);
    rayon-bordure :  20 px ;
    opacité :  0,75 ;
    taille du fond : couverture ;
    remplissage :  100 px ;
    texte-ombre :  6 px  6 px  10 px  RVB ( 151 ,  151 ,  151 );
    famille de polices :  'Noto Serif' , serif;
    taille de police :  3 em ;
}


* {
    couleur :  # C0C0C0 ;
    couleur d'arrière-plan :  rvb ( 100 ,  84 ,  82 );
    remplissage :  7,5 px ;
}

. imagelancelot , . imagearthur , . imagebohort , . imagemerlin , . imageléodagan , . imagekaradoc , . imageburgonde , . imagekadoc , . imageperceval {
    bordure supérieure :  2 px solide # C0C0C0 ;
    bordure inférieure :  2 px solide # C0C0C0 ;
    bordure gauche :  2 px noir uni ;
    bordure droite :  2 px noir uni ;
    rayon-bordure :  20 px ;
    largeur :  500 px ;
    hauteur :  250 px ;
    justifier-contenu : flex-end;
}

a : survolez {
    opacité :  0,5 ;
}

. lapage1 , . lapage2 , . lapage3 {
    largeur :  70 px ;
    hauteur :  70 px ;
    affichage : flexible;
    justifier-contenu : flex-start;
}

. contenu {
    affichage : flexible;
    justifier-contenu : espace entre les deux ;
}
. tableau {
    affichage : grille ;
    grille-modèle-colonnes :  1 fr  1 fr  1 fr ;
    grille-modèle-lignes :  1 fr  1 fr  1 fr ;
}


. pages {
    hauteur :  150 px ;
    largeur :  150 px ;
    écart :  20 ;
    rayon-bordure :  20 px ;
    bordure : blanc 5 px uni ;
}

formulaire {
    affichage : flexible;
    flex-direction : colonne;
    marge : automatique ;
    largeur :  50 % ;
}

saisir {
    remplissage :  10 px ;
    couleur de fond : blanc ;
}

. boutonenvoyer {
    affichage : flexible;
    largeur :  75 px ;
    hauteur :  50 px ;
    couleur de fond : gris ;
  }
